<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SharePoint.IdentityService.IdentityServiceApplication">
        <endpoint address="" binding="customBinding" bindingConfiguration="IdentityServiceHttpBinding"
          contract="SharePoint.IdentityService.Core.IIdentityServiceContract" />
        <endpoint address="secure" binding="customBinding" bindingConfiguration="IdentityServiceHttpsBinding"
          contract="SharePoint.IdentityService.Core.IIdentityServiceContract" />
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="IdentityServiceHttpBinding" closeTimeout="00:03:00"
          openTimeout="00:03:00" sendTimeout="00:03:00">
          <security authenticationMode="IssuedTokenOverTransport" allowInsecureTransport="true" />
          <textMessageEncoding>
            <readerQuotas
              maxStringContentLength="1073741824"
              maxArrayLength="1073741824"
              maxBytesPerRead="1073741824" />
          </textMessageEncoding>
          <!-- <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1048576" maxArrayLength="2097152" />
          </binaryMessageEncoding> -->
          <httpTransport maxReceivedMessageSize="2162688" authenticationScheme="Anonymous"
            useDefaultWebProxy="false" />
        </binding>
        <binding name="IdentityServiceHttpsBinding" closeTimeout="00:03:00"
          openTimeout="00:03:00" sendTimeout="00:03:00">
          <security authenticationMode="IssuedTokenOverTransport" />
          <textMessageEncoding>
            <readerQuotas
              maxStringContentLength="1073741824"
              maxArrayLength="1073741824"
              maxBytesPerRead="1073741824" />
          </textMessageEncoding>
         <!-- <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1048576" maxArrayLength="2097152" />
          </binaryMessageEncoding> -->
          <httpsTransport maxReceivedMessageSize="2162688" authenticationScheme="Anonymous" useDefaultWebProxy="false" />
        </binding>
      </customBinding>
    </bindings>

  </system.serviceModel>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
</configuration>